body {
    text-align: center;
    background-image: url("resources/wallpaper.jpg");
    /*background-color: #D2B27ACC;*/
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
}

#escueladearqueria {
    font-size: 4.5rem;
    margin-top: 1em;
}

#nombre {
    margin-top: 6.25em;
    font-size: 1em;
    background-color: rgba(210, 178, 122, .5);
    border-style: inset hidden outset hidden;
    border-color: rgba(210, 178, 122, .8);
    border-radius: 0.3125em;
    border-width: 0.375em;
    margin-left: 21.875em;
    margin-right: 21.875em;
}

#experiencia {
    margin-right: 20em;
    margin-top: 1.5em;
    font-size: xx-large;
    color: rgba(210, 178, 122);
    text-shadow: 0.15em 0.15em 0.0025em black;
}

#arco {
    position: absolute;
    width: 9.375em;
    height: 9.375em;
    left: 15%;
    top: 3%;
    /*top:50px;*/
    /*left:400px;*/
}

.exp {
    margin-top: 6.25em;
    margin-right: 9.375em;
    margin-left: 9.375em;
    font-size: large;
}

text {
    font-size: large;
}

#escuela {
    color: black;
    border-style: inset hidden outset hidden;
    border-color: rgba(210, 178, 122, .8);
    border-width: 0.375em;
    border-radius: 0.3125em;
    margin-top: 0.3125em;
    margin-right: 12.5em;
    margin-left: 12.5em;
    background-color: rgba(210, 178, 122, .5);
}

/* From uiverse.io by @Damithkumara */
button {
    padding: 0.9em 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid rgba(210, 178, 122, .8);
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
}

#principiante::before {
    content: "Principiante";
}

button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: rgba(210, 178, 122, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#principiante:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

#principiante::after {
    content: "Principiante";
}

button::after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(210, 178, 122, .8);
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

#principiante:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

/*#experto {*/
/*    padding: 0.9em 1.8em;*/
/*    text-transform: uppercase;*/
/*    text-decoration: none;*/
/*    letter-spacing: 4px;*/
/*    color: transparent;*/
/*    border: 3px solid rgba(210, 178, 122, .8);*/
/*    font-size: 14px;*/
/*    position: relative;*/
/*    font-family: inherit;*/
/*    background: transparent;*/
/*}*/

#experto::before {
    content: "Experto";
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #363636;*/
    /*color: rgba(210, 178, 122, .8);*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: all 0.5s;*/
}

#experto:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

#experto::after {
    content: "Experto";
    /*position: absolute;*/
    /*top: 0;*/
    /*left: -100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(210, 178, 122, .8);*/
    /*color: #363636;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: all 0.5s;*/
    /*transform: scale(0) rotateY(0deg);*/
    /*opacity: 0;*/
}

#experto:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}


/* From uiverse.io by @Alaner-xs */
.input {
    background-color: #f5f5dc;
    border: 1ex solid;
    border-top-width: 1.7em;
    margin-bottom: 2%;
    padding: 0;
    color: #D2B27ACC;
    word-wrap: break-word;
    outline: 7px solid #383838;
    height: 30px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    max-width: 190px;
    font-weight: bold;
    font-family: 'MedievalSharp', cursive, monospace;
}

.input:hover {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
}

.input:focus {
    border-top-width: 0.2em;
    background-color: #f5f5dc;
}

.volver {
    padding: 0.9em 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid rgba(210, 178, 122, .8);
    font-size: 14px;
    font-family: inherit;
    background: transparent;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.volver::before {
    content: "Volver";
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #363636;*/
    /*color: rgba(210, 178, 122, .8);*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: all 0.5s;*/
}

.volver:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

.volver::after {
    content: "Volver";
    /*position: absolute;*/
    /*top: 0;*/
    /*left: -100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(210, 178, 122, .8);*/
    /*color: #363636;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: all 0.5s;*/
    /*transform: scale(0) rotateY(0deg);*/
    /*opacity: 0;*/
}

.volver:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

/*#listo {*/
/*    padding: 0.9em 1.8em;*/
/*    text-transform: uppercase;*/
/*    text-decoration: none;*/
/*    letter-spacing: 4px;*/
/*    color: transparent;*/
/*    border: 3px solid rgba(210, 178, 122, .8);*/
/*    font-size: 14px;*/
/*    font-family: inherit;*/
/*    background: transparent;*/
/*    margin-bottom: 5px;*/
/*    text-align: center;*/
/*    position:relative;*/
/*    bottom:0;*/
/*}*/

#listo::before {
    content: "Si, estoy listo!";
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: #363636;*/
    /*color: rgba(210, 178, 122, .8);*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: all 0.5s;*/
}

#listo:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

#listo::after {
    content: "Si, estoy listo!";
    /*position: absolute;*/
    /*top: 0;*/
    /*left: -100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(210, 178, 122, .8);*/
    /*color: #363636;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: all 0.5s;*/
    /*transform: scale(0) rotateY(0deg);*/
    /*opacity: 0;*/
}

#listo:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

#play::before {
    content: "¡Tirar!";
}

#play::after {
    content: "¡Tirar!";
}

#play:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

#play:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

.info {
    font-size: 1.5rem;
    background-color: rgba(210, 178, 122, .5);
    border-style: inset hidden outset hidden;
    border-color: rgba(210, 178, 122, .8);
    border-radius: 0.3125em;
    border-width: 0.375em;
    margin-left: 9rem;
    margin-right: 9rem;
}

#comoju {
    color: white;
}

/*#text{*/
/*    width: 700px;*/
/*    height: 200px;*/
/*    position: absolute;*/
/*    bottom: 250px;*/
/*    left: 300px;*/
/*    background-color: transparent;*/
/*}*/

/* From uiverse.io by @Cornerstone-04 */
.datos {
    max-width: 190px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: 'MedievalSharp', cursive;
    letter-spacing: 1px;
}

.datos:focus {
    border: 2px solid rgba(210, 178, 122, .8);
    caret-color: rgba(210, 178, 122, .8);
    color: rgba(210, 178, 122, .8);
    box-shadow: 4px 4px 10px #070707;
}

.datos:focus::placeholder {
    color: rgba(210, 178, 122, .8);
}

canvas {
    margin-top: 0.625em;
    border: 1px solid black;
    background-color: white;
    width: 75em;
    height: 31.25em;
}